/* Background styling for the hero section */
.hero-background {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%;
    padding-bottom: 2rem; 
    transition: background-image 0.3s ease-in-out;
  }


.hero-book-session-container{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-socialmedia-container {
  position: fixed;
  top: 55%; 
  right: 20px; 
  transform: translateY(-50%); 
  display: flex;
  flex-direction: column;
  gap: 20px; 
  z-index: 1000; 
}
.social-media-icon{
  font-size: 3rem;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.social-media-icon:hover {
  transform: scale(1.3);
}

.hero-button {
  padding: 1rem 1.5rem; 
  width:12rem; 
  font-size: 1.2rem; 
  font-weight: 600; 
  color: white;
  background: var(--black-gradient); 
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease; 
  text-transform: capitalize; 
  cursor: pointer;
}


/* Button hover effect */
.hero-button:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: var(--blue-gradient); /* Darker shade on hover */
}


/* For smaller devices, ensure responsiveness */

@media (min-width: 250px) and (max-width: 900px) {

    .hero-button {
        /* padding: 1rem 1.5rem;
        width:10rem; 
        font-size: 1rem; 
        font-weight: 600; 
        color: white;
        background: var(--black-gradient); 
        border: none;
        border-radius: 4px;
        transition: all 0.3s ease; 
        text-transform: capitalize; 
        cursor: pointer; */
    }
}

@media (max-width: 1300px) {

}
@media (max-width: 900px) {

}
@media (max-width: 500px) {

}

