.service-wrapper{
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    background: var(--grey-black-gradient);
    color:white;
}

.service-container {
    /* text-align: center; */
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
}

.service-container p {
    font-size: 1.05rem;
    color: #e4f0f7;
}

.service-icons {
    color: var(--aqua);
}

.difServices {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    letter-spacing: 0.025rem;
}

.difServices h2 {
    margin-bottom: 0.5rem;
    color:rgb(0, 255, 234);
}
.difServices p {
    margin-bottom: 1rem;
}