/* Wrapper to enable horizontal scrolling */
.gridContainerWrapper {
    overflow-x: auto;
    white-space: nowrap;
    width: 100vw;
    /* padding: 10px 0; */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
}

/* Hide scrollbar for WebKit browsers */
.gridContainerWrapper::-webkit-scrollbar {
    display: none;
}

.mediaSwiper {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 10px;
}

.gridContainerWrapper .swipermediaslide {
    flex-wrap: nowrap;
    /* max-width: 1200px; */
    margin: 0 auto;

}

/* Make the grid scroll horizontally */
/* .gridContainer {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;

} */

/* Style for each grid item */
.gridItem {
    width: 100%;
    cursor: pointer;
    border: none;
    background: none;
}

/* Image container */
.mediaImageContainer {
  width: 100%;
  aspect-ratio: 3/4;
  overflow: hidden;
  border-radius: 10px;
}

/* Image styling */
.mediaImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}